<br><br>
<section id='brands'>
  <header>Although we can repair just about any vintage or late model amplifier,  we specialize in these brands as we have current stock of parts for these brands enabling a quick repair turnaround.</header>
  <img src="http://www.cbtaudio.com/assets/rockford_fosgate_logo.jpg" alt="Rockford Fosgate"</img>
  <img src="http://www.cbtaudio.com/assets/adcom_logo.jpg" alt="Adcom"</img>
  <img src="http://www.cbtaudio.com/assets/soundcraftsmen_logo.jpg" alt="Soundcraftsmen"</img>

</section>
