<nav>
  <a href='#'>Contact</a>
  <a href='#design'>Design</a>
  <a href='#about'>About</a>
</nav>

<section id='about'>

  <img src="https://soyesq.dm1.livefilestore.com/y2pgZxCydclxYlpIE7WVWWtFvSYA1-YCwsbvCS8brFWwNiXcq0UnyfaND0ocIgk-xVviwYC3bkC25neLyfVJm7UJ9VY5FVTnM8d-R1HB4Jivkk/me.jpg?psid=1" alt="Stephan">

  <header>What up, it's nice to meet you</header>
  <p>I'm Matt, an avid redneck gamer who enjoys simplifying experiences through clean design.  I enjoy forging clarity through brevity.  I take great pride in brainstorming and mocking out designs to imagine simple and intuitive solutions.</p>

  <header>Learning through experience</header>
  <p>You can discover a great deal about a person by seeing what they've done through their travels.</p>

  <div id="resume"><a href="">My Resume</a></div>

</section>

<section id='design'>
  <header>Good design starts with good intention</header>

  <img src=https://fj14ow.dm1.livefilestore.com/y2pPy46WZDqaf2Uo-ngbTc1D8yBi05NonW3P7JUInAJtIu56aLHv2Q3djSrKr61aPvHtTfHwukIwx4UdpqsiBQqbdA03w2v4emRvBLLbzvrndw/portfolio-icons-rotated.png?psid=1"" alt="report"</img>
  <img src="https://fxjioq.dm1.livefilestore.com/y2p_xCKqv9VufSfquIHfC9noGcUT7kVd923rjNCP_Xch-it2sV4DmrUi-q_lyhlMt4AaCDcMbf29_sZN8NC-abLiX4Fu4kk1eQkUNsmgqndUck/portfolio-convdoc.png?psid=1" alt="conversion-doc"</img>
  <img src="https://fxlcmq.dm1.livefilestore.com/y2pjjiCuMaOxTKwGPekDUgEX-6IdDA6mJtn2qaW6dz0l0DPT0oHEh5mgcVZAd3bLGNNitjNg3fpb0wnfk2X0IBFeYRs6m57QgIgQvagNtyYSbc/portfolio-graph.png?psid=1" alt="report"</img>

</section>
