<nav>
  <a href='services'>Services</a>
  <a href='brands'>Brands</a>
  <a href='index'>Home</a>
</nav>

<section id='about'>

  <img src="http://www.cbtaudio.com/assets/two_tubes.jpg" alt="Two Tubes">

  <header>Welcome to CBTAudio!</header>
  <p>CBTAudio is an experienced audio equipment restoration shop in the South Hills of Pittsburgh, PA.  We specialize in amplifier repair for brands like Soundcraftsmen, Adcom and Rockford Fosgate.</p>

  <header>Restoration and Measurement</header>
  <p>We also offer a full suite of test and measurement capabilities for audio power amplifiers.</p>

  <div id="resume"><a href="">Contact Us</a></div>

</section>

